<h1> Meet the Massage Therapists </h1>

<% @massage_therapists.each do |therapist|%>
<p><%=therapist.first_name%></p>
Years of Experience: <%=therapist.years_of_experience%><br>
Specialty: <%=therapist.specialty%><br>
Biography: <%=therapist.biography%><br>
<br>
<% end%>