<h1>Welcome to the Relaxation Parlor!</h1>

<%= link_to "Book an Appointment", massage_therapists_path %>

<% MassageTherapist.specialty.each do |therapist|%><br>
<%= link_to therapist, massage_therapists_path(specialty: therapist) %>
<% end%>