<h1>Welcome to the Relaxation Parlor!</h1>



Please select the type of massage you are interested in booking:

<% MassageTherapist.specialty.each do |therapist|%><br>
<%= link_to therapist, massage_therapists_path(specialty: therapist) %> 
<% end%>

